.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px;
  background-color: white;

  position: fixed;
  bottom: 0;
  right: 15px;

  border: 3px solid #f1f1f1;
  z-index: 9;
}

.messages {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  background-color: #fff;
}

input {
  width: calc(100%);
  padding: 10px;
}

button {
  border-radius: 0.25rem;
}
