.input {

    background-color: #f8f8f800;
    border: 0px;
    border-bottom: #ff9f1c solid 1px;
}

.number {
    border: 1px;
    border-style: solid;
    border-color: #ff9f1c;
}

label {
    margin: 20px;
    font-size: 16px;

}

textarea {
    border-color: #ff9f1c;
}
 input, optgroup, select, textarea {
    
    width: 100%;
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select {
    
    border-color: #ff9f1c;
}

.brain-logo {
    min-width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}
  