<div class="container">
  <div class="row">
    <div class="col-12">
      <p>{{ titleComp }}</p>
    </div>
    <div class="col-12">
      <label for="title">Título</label>
      <input 
        #title="ngModel" 
        type="text" 
        class="form-control" 
        id="title" 
        name="title" 
        placeholder="Challenge Title"
        [(ngModel)]="newChallengeGame.title" 
        [ngClass]="{ 'is-invalid': title.invalid && title.touched, 'is-valid': title.valid && title.touched }" 
        required 
      />
    </div>
    <div class="col-12">
      <label for="description">Descripcion</label>
      <textarea 
        #description="ngModel" 
        class="form-control" 
        id="description" 
        name="description" 
        placeholder="Challenge Description"
        [(ngModel)]="newChallengeGame.description" 
        [ngClass]="{ 'is-invalid': description.invalid && description.touched, 'is-valid': description.valid && description.touched }" 
        required 
      ></textarea>
    </div>
    <div class="col-12">
      <label for="objectiveScore">Puntos Objetivo</label>
      <input 
        #objectiveScore="ngModel" 
        type="number" 
        class="form-control" 
        id="objectiveScore" 
        name="objectiveScore" 
        placeholder="Challenge objective score"
        [(ngModel)]="newChallengeGame.objectiveScore" 
        [ngClass]="{ 'is-invalid': objectiveScore.invalid && objectiveScore.touched, 'is-valid': objectiveScore.valid && objectiveScore.touched }" 
        required 
      />
    </div>
    <div class="col-12">
      <label for="objectiveTime">Tiempo Objetivo (en segundos)</label>
      <input 
        #objectiveTime="ngModel" 
        type="number" 
        class="form-control" 
        id="objectiveTime" 
        name="objectiveTime" 
        placeholder="Challenge objective time"
        [(ngModel)]="newChallengeGame.objectiveTime" 
        [ngClass]="{ 'is-invalid': objectiveTime.invalid && objectiveTime.touched, 'is-valid': objectiveTime.valid && objectiveTime.touched }" 
        required 
      />
    </div>
    <div class="col-6">
      <label for="startDate">Fecha de Inicio</label>
      <input 
        #startDate="ngModel" 
        type="date" 
        class="form-control" 
        id="startDate" 
        name="startDate" 
        placeholder="Start Date"
        [(ngModel)]="newChallengeGame.startDate" 
        [ngClass]="{ 'is-invalid': startDate.invalid && startDate.touched, 'is-valid': startDate.valid && startDate.touched }" 
        required 
      />
    </div>
    <div class="col-6">
      <label for="endDate">Fecha de Fin</label>
      <input 
        #endDate="ngModel" 
        type="date" 
        class="form-control" 
        id="endDate" 
        name="endDate" 
        placeholder="End Date"
        [(ngModel)]="newChallengeGame.endDate" 
        [ngClass]="{ 'is-invalid': endDate.invalid && endDate.touched, 'is-valid': endDate.valid && endDate.touched }" 
        required 
      />
    </div>
    @if(newChallengeGame.badgeId){
    <div class="col-6">
      <label for="badge">Insigna a Obtener</label>
      <select 
        #badge="ngModel" 
        class="form-control" 
        id="badge" 
        name="badge" 
        [(ngModel)]="newChallengeGame.badgeId.badgeId"
        (ngModelChange)="newChallengeGame.badgeId.badgeId = +$event" 
        required
      >
        <option *ngFor="let badge of badgeList" [value]="badge.badgeId">{{ badge.title }}</option>
      </select>
    </div>
    }
    @if(newChallengeGame.gameId){
    <div class="col-6">
      <label for="game">Juego para el desafío</label>
      <select 
        #game="ngModel" 
        class="form-control" 
        id="game" 
        name="game" 
        [(ngModel)]="newChallengeGame.gameId.gameId"
        (ngModelChange)="newChallengeGame.gameId.gameId = +$event"  
        required
      >
        <option *ngFor="let game of gameList" [value]="game.gameId">{{ game.name }}</option>
      </select>
    </div>
    }
    <div class="col-12 mt-3">
      <button
        type="button"
        (click)="addChallenge()"
        class="btn btn-primary d-flex align-items-center"
      >
        <i class="fa-solid fa-plus white me-2"></i>
        <p class="mb-0"> {{ titleComp }} </p>
      </button>
    </div>
  </div>
</div>
