<div class="container">
  @defer{

  <app-badge-list [badgeList]="badgeService.badges$()" />
  <div class="d-flex justify-content-center align-items-center">
    <app-add-button (click)="showModal()"></app-add-button>
  </div>
  <button class="btn btn-primary">
    <i class="fa-regular fa-trash-can"></i>
  </button>
  <button class="btn btn-primary">
    <i class="fa-regular fa-pen-to-square"></i>
  </button>

  }@loading ( after 100ms; minimum 1s) {
  <app-loader />
  }
</div>

<app-modal #formModal>
  <app-badge-form (callParentEvent)="onFormEventCalled($event)">
  </app-badge-form>
</app-modal>
