<div>
  <div class="d-flex">

    <div class="container">
      <label class="label-difficulty"><input type="radio" name="difficulty" class="input-difficulty" (click)="setDifficulty('easy')">Fácil</label>
      <label class="label-difficulty"><input type="radio" name="difficulty" class="input-difficulty" (click)="setDifficulty('medium')">Medio</label>
      <label class="label-difficulty" ><input type="radio" name="difficulty" class="input-difficulty" (click)="setDifficulty('hard')">Difícil</label>
    </div>
    
    <div class="container">
      <label class="label-info">Segundos restantes: {{ timeLeft }}</label>
    </div>

    <div class="container-score">
      <label class="label-info">Puntuación: {{ score }}</label>
    </div>

    <button class="btn" (click)="startGame()" [disabled]="isGameRunning">Comenzar Juego</button>

    <button class="btn" (click)="resetGame()" [disabled]="!isGameRunning">Reiniciar Juego</button>

  </div>

  <div class="reaction-game">
    <button  
    *ngFor="let button of buttons" 
    [ngClass]="button.color" 
    (click)="onButtonClick(button)" 
    class="button-game"></button>
  </div>

</div>