<div class="container-fluid">
  @defer {
  <div class="d-flex justify-content-end align-items-end">
    <app-add-button [text]="'Agregar'" (click)="openAddUser()"></app-add-button>
  </div>
  <app-user-list [userList]="userService.users$()"></app-user-list>

  }@loading( after 100ms; minimum 1s) {
  <app-loader />
  }
</div>

<app-modal size="lg" #formModal>
  <app-user-form
    [action]="'Agregar'"
    [roles]="rolService.roles$()"
    (callParentEvent)="onFormEventCalled($event)"
  ></app-user-form>
</app-modal>
