
<!-- <div class="card" [class.flipped]="isFlipped" (click)="flipCard()">
  <div class="card-inner">

    <div class="card-front">
      <img  class="card-image"*ngIf="isFlipped" [src]="cardImageUrl" alt="Card Image">
    </div>
    

    <div class="card-back">
      <img class="img-card" src="../../../assets/icons/LogoCerebro.png" alt="Logo Image">
    </div>
  </div>
</div> -->

<div class="card" [class.flipped]="isFlipped" (click)="flipCard()">
  <div class="card-inner" >
      <div class="front">
        <img  class="card-image"*ngIf="isFlipped" [src]="cardImageUrl" alt="Card Image">
      </div>
      <div class="back">
        <img class="img-card" src="../../../assets/icons/LogoCerebro.png" alt="Logo Image">
      </div>
  </div>
</div>