
<section id="mvv">
  <div class="mvv-card">
    <h2 class="tMvv">Misión</h2>
    <p>Crear soluciones web innovadoras con un enfoque centrado en el usuario, facilitando y mejorando la experiencia digital.</p>
  </div>
  <div class="mvv-card">
    <h2 class="tMvv">Visión</h2>
    <p>Destacar en el mercado como líderes en desarrollo e innovación tecnológica, brindando soluciones que marcan la diferencia.</p>
  </div>
  <div class="mvv-card">
    <h2 class="tMvv">Valores</h2>
    <ul>
      <p>Simplicidad</p>
      <p>Creatividad</p>
      <p>Educación</p>
      <p>Innovación</p>
    </ul>
  </div>
</section>