.table {
    margin-top: 100px;
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
}
tbody, td, tfoot, th, thead, tr {
    border-color: #ff9f1c; 
    border-style: solid;
    border-width: 3px;
}
.btn-danger {
    color: #fff;
    background-color: #ff9f1c;
    border-color: #ff9f1c;
}
.btn-danger:hover {
    color: #fff;
    background-color: #ee9211;
    border-color: #ee9211;
}
table {
    border-collapse: collapse;
    
    overflow: hidden;
  }
  
  th, td {
    padding: 1em;
   
    border-bottom: 2px solid white; 
  }
  
  .css-mine {
    margin-top: 2em;
    clear: both;
  }
  
  body {
    margin: 1.5em;
  }
  .label{
    text-align: center;
    font-family: Dosis, "Dosis", sans-serif;
  }

  
  @media (max-width: 1200px) {
    th, td {
      padding: 6px;
     
      border-bottom: 2px solid white; 
    }
  }