
    <div class="d-flex">
      
      <div class="d-flex">
        <div>
          <select id="difficulty" [(ngModel)]="difficulty">
            <option class="option-diff" value="0">Seleccione una Dificultad</option>
            <option value="6">Fácil</option>
            <option value="9">Media</option>
            <option value="12">Difícil</option>
          </select>
        </div>
        <button class="points-container" (click)="startGame()"  [class.disabled]="isGameRunning">Jugar</button>
        <button class="points-exit" (click)="exitGames()" >Salir</button>
      </div>
      <div class="d-flex">
        <div class="points">
          <label id="points">Puntos: {{ points }}</label>

        </div>
        <app-timer (timerEnded)="endGame()"></app-timer>
      </div>
     
      
     
    </div>
   
   
    <div class="memory-board" *ngIf="gameStarted">
      <app-memory-card
        *ngFor="let card of cards"
        [cardImageUrl]="card"
      ></app-memory-card>
    </div>
    

