.memory-board {
    font-family: Dosis, "Dosis", sans-serif;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row */
    justify-content: flex-start; /* Align items at the start of the container */
    gap: 10px; 
    max-width:800px; 
    margin: auto; 
  }
  