
<section id="description">
      <div class="app-logo">
          <img src="../../../assets/icons/LogoQuantum.png" alt="Logo Quantum">
      </div>
      <div class="app-description">
          <p>
              Nuestra empresa se dedica a la creación de aplicaciones web, páginas web y software avanzado con el propósito de simplificar y enriquecer la vida de las personas. Nos destacamos por desarrollar herramientas digitales accesibles y entretenidas que combinan simplicidad, creatividad, educación e innovación. Aspiramos a ser reconocidos como líderes en el mercado tecnológico, proporcionando soluciones intuitivas y de alta calidad que permitan a nuestros usuarios y socios empresariales explorar nuevas ideas y alcanzar sus objetivos de manera eficiente y efectiva.
          </p>
      </div>

</section>