.header-container {
  display: flex;
  justify-content: flex-end; /* Colocar el botón a la derecha */
  padding: 20px; /* Espacio alrededor del botón */
}

.my-forums-button {
  background-color: #FF9F1C;
  color: #000000;
  border: none;
  border-radius: 0.25rem;
  width: 120px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.my-forums-button:hover {
  transform: translateY(-2px);
  background-color: #ee971e; /* Color de fondo cuando se pasa el ratón */
}

.forum-container {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Espacio entre los rectángulos */
  padding-top: 10px; /* Espacio superior para separar de la parte superior de la página */
  align-items: center; /* Centrar horizontalmente los foros */
}

.forum-card {
  background-color: #FF9F1C; /* Color de fondo del foro */
  border-radius: 15px; /* Bordes redondeados */
  padding: 15px;
  width: 100%; /* Ocupa todo el ancho disponible */
  max-height: 200px;
  max-width: 1000px; /* Ancho máximo fijo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  overflow: hidden; /* Ocultar el desbordamiento */
  position: relative; /* Necesario para posicionar el pseudoelemento */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el foro */
  transition: transform 0.3s ease, width 0.3s ease; /* Transiciones suaves para el tamaño */
}

.forum-card:hover {
  transform: scale(1.05); /* Ampliar el tamaño del foro al pasar el ratón */
  width: calc(100% + 20px); /* Ampliar el ancho del foro */
}

.forum-title {
  font-size: 2rem; /* Tamaño grande del título */
  color: #000000; /* Color blanco para el texto del título */
  margin: 0;
}

.forum-description {
  font-size: 1rem; /* Tamaño más pequeño para la descripción */
  color: #000000; /* Color gris claro para la descripción */
  margin: 5px 0 0; /* Margen superior solo para separar del título */
  overflow: hidden; /* Ocultar desbordamiento */
  text-overflow: ellipsis; /* Agregar puntos suspensivos */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limitar a 4 líneas antes de mostrar puntos suspensivos */
  -webkit-box-orient: vertical;
  padding-right: 30px; /* Espacio a la derecha del texto */
}

.delete-button {
  background: none;
  border: none;
  color: #ffffff; /* Color del ícono */
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 15px; /* Mover el botón a la parte inferior */
  right: 10px; /* Alinear el botón a la derecha */
  transition: transform 0.3s ease; /* Transición suave para el tamaño */
}

.delete-button:hover {
  transform: scale(1.5); /* Aumentar el tamaño del ícono al pasar el ratón */
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio superior para separar del último foro */
}

.add-button {
  background-color: #FF9F1C;
  color: #000000;
  border: none;
  border-radius: 0.25rem;
  width: 141px;
  height: 52px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.add-button:hover {
  transform: translateY(-2px);
  background-color: #ee9211;
}
h2{
  font-size: 20px;
  font-family: Dosis, "Dosis", sans-serif;
}
