#time {
  color: #ffffff;;
  font-size: 2rem;
  padding: 15px;
}
.timer-container{
  background-color: #ff9f1c;
  border: solid 3px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}
