.user-list {
  text-align: center;
  font-family: Dosis, "Dosis", sans-serif;
  font-size: 1.2rem;
  -webkit-box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #dddddd;

  border-radius: 3px;

  //   border: solid 1px red;
}
.container2 {
  padding: 70px;
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
}
.input-filter {
  font-size: 14px;
  width: 100%;
}

.list-container {
  // display: flex;
  // justify-content: center; /* Centrar horizontalmente */
  // align-items: center; /* Centrar verticalmente */
  // flex: 1;

  padding: 70px;
  border-radius: 10px;
  width: 100%;
}

th,
td,
tr {
  border: none;
  padding: 10px;
  font-weight: normal;
}

.btn-container {
  display: flex;

  gap: 10px;
  justify-content: start;
  align-items: end;
}

table {
  width: 100%;
  background-color: #a1d1ec;
}
mat-paginator {
  background-color: #a1d1ec;
}


