<div class="table">
  <tbody class="table-user">
    @for (item of userList; track item.id) {
      <tr>
        <div class="users">
          <div class="image">
            <img [src]="item.image" alt="User Image" class="user-img"/>
          </div>
          <td class="pUser">
            {{item.name}}
          </td>
          <td class="pUser">{{item.lastname}}</td>
          <td class="pUser">{{item.role?.name}}</td>

          <td>
            <div class="buttonUsers">
              <button type="button" (click)="showDetail(item, formModal)" class="btn btn-secondary userBoton">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" (click)="deleteUser(item)" class="btn btn-danger userBoton">
                <i class="fa-regular fa-trash-can"></i>
              </button>
            </div>
          </td>
        </div>
      </tr>
    }
  </tbody>
</div>

<app-modal size="lg" #formModal>
  <app-user-form
    [user]="currentUser"
    [title]="'Update User'"
    (callParentEvent)="onFormEventCalled($event)"
    [imageFile]="selectedImg"
  >
  </app-user-form>
</app-modal>