<div class="container2">
    <div class="container">
      <h1>Cuida Tu Salud</h1>
      <form [formGroup]="demenciaForm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('age')}">
          <label for="age">Edad</label>
          <input type="number" id="age" formControlName="age">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('exerciseDays')}">
          <label for="exerciseDays">Días de ejercicio a la semana</label>
          <select id="exerciseDays" formControlName="exerciseDays">
            <option value="">Seleccione una opción</option>
            <option value="Menos de 2 veces">Menos de 2 veces</option>
            <option value="2 veces">2 veces</option>
            <option value="3 veces">3 veces</option>
            <option value="Más de 3">Más de 3</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('educationLevel')}">
          <label for="educationLevel">Nivel de educación alcanzado</label>
          <select id="educationLevel" formControlName="educationLevel">
            <option value="">Seleccione una opción</option>
            <option value="Primaria">Primaria</option>
            <option value="Secundaria">Secundaria</option>
            <option value="Técnica">Técnica</option>
            <option value="Superior">Superior</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('diet')}">
          <label for="diet">Tipo de dieta</label>
          <select id="diet" formControlName="diet">
            <option value="">Seleccione una opción</option>
            <option value="Vegetariana">Vegetariana</option>
            <option value="Vegana">Vegana</option>
            <option value="Keto">Keto</option>
            <option value="Paleo">Paleo</option>
            <option value="Intermitente">Intermitente</option>
            <option value="Ninguna">Ninguna</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('gender')}">
          <label for="gender">Sexo</label>
          <select id="gender" formControlName="gender">
            <option value="">Seleccione una opción</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('record')}">
          <label for="record">Historial familiar</label>
          <select id="record" formControlName="record">
            <option value="">Seleccione una opción</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('mentalCondition')}">
          <label for="mentalCondition">Condición mental</label>
          <input type="text" id="mentalCondition" formControlName="mentalCondition">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('medicalCondition')}">
          <label for="medicalCondition">Condición médica</label>
          <input type="text" id="medicalCondition" formControlName="medicalCondition">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('screenTime')}">
          <label for="screenTime">Horas en pantalla promedio</label>
          <input type="number" id="screenTime" formControlName="screenTime">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('sleepHours')}">
          <label for="sleepHours">Horas de sueño promedio</label>
          <input type="number" id="sleepHours" formControlName="sleepHours">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('drugs')}">
          <label for="drugs">Consume drogas</label>
          <select id="drugs" formControlName="drugs">
            <option value="">Seleccione una opción</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('alcohol')}">
          <label for="alcohol">Consume alcohol</label>
          <select id="alcohol" formControlName="alcohol">
            <option value="">Seleccione una opción</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('stress')}">
          <label for="stress">Técnica de manejo del estrés</label>
          <input type="text" id="stress" formControlName="stress">
        </div>
        <div class="form-group" [ngClass]="{'invalid': isFieldInvalid('work')}">
          <label for="work">Trabajo actual</label>
          <input type="text" id="work" formControlName="work">
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
  