<div class="container2">
  <div
    *ngIf="badgeList.length > 0; else emptyPlaceholder"
    class="container text-center"
  >
    <div class="row">
      <div
        class="col-md-6 col-sm-12 mb-5 badge-container mx-5"
        *ngFor="let uBadge of badgeList; let i = index"
        (click)="flipCard(i)"
      >
        <div
          class="badge-card"
          [ngStyle]="{
            background: getColor(i),
            'box-shadow': getBoxShadow(i)
          }"
          [ngClass]="{ flipped: flippedIndexes.includes(i) }"
        >
          <div class="badge-front">
            <img
              [src]="uBadge.badge?.url"
              alt="Badge image"
              width="85px"
              height="85px"
            />
          </div>
          <div class="badge-back">
            <div class="card-back-content">
              <h3>{{ uBadge.badge?.title }}</h3>
              <p>{{ uBadge.badge?.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyPlaceholder>
  <div class="placeholder">No tienes insignias en este momento</div>
</ng-template>
