.memory-board {
    font-family: Dosis, "Dosis", sans-serif;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row */
    justify-content: flex-start; /* Align items at the start of the container */
    gap: 10px; 
    max-width:800px; 
    margin: auto; 
  }
  *{
    font-family: Dosis, "Dosis", sans-serif;
  }
  body {
    
    text-align: center;
    background-color: #b4dce6;
  }
  
  #level-title {
    font-family: Dosis, "Dosis", sans-serif;
    font-size: 3rem;
    margin: 5%;
  
  }
  .points-exit {
    background-color: #b32b16;
    border: solid 0px #16c2d5;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 2rem;

  }
  .points-exit:hover {
    cursor: pointer;
    background-color: #a42714;
    border: solid 0px #16c2d5;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 2rem;
  }
  .points {
 
    padding: 10px;
 
    margin: 20px;
    color: #000000;
    font-size: 2rem;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5; /* o cualquier otro estilo que desees aplicar */
  }
  #points,
  #pieceClick,
  #btn-play {
    padding: 15px;
    font-size: 2rem;
  }

  select{
    option{
     
      color: #ffffff;
      
      
   
    }
    margin-top: 35px;
    background-color: #ff9f1c;
    border: solid 0px #16c2d5;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Dosis, "Dosis", sans-serif;
    color: #ffffff;
  }
  select:hover{
    option{
     
      color: #ffffff;
      
      
   
    }
    cursor: pointer;
    margin-top: 35px;
    background-color: #eb9318;
    border: solid 0px #16c2d5;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Dosis, "Dosis", sans-serif;
    color: #ffffff;
    
  }
  .d-flex{
flex-wrap: wrap;
  }
  
  .points-container {
    background-color: #22bf14;
    border: solid 0px #16c2d5;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 2rem;
    box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
    
  }
  .points-container:hover {
    cursor: pointer;
    background-color: #1fb012;
    border: solid 0px #16c2d5;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 2rem;
    
  }
  
  .timer-container {
    background-color: #ff9f1c;
    border: solid 3px #16c2d5;

    border-radius: 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 2rem;
  }

  
  .color-container {
    // border: black 10px solid;
    height: 700px;
    width: 900px;
  }
  
  .btn {
    display: inline-block;
    height: 330px;
    width: 50%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  .games-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 80px;
  }
  
  .puzzle-container-wrapper {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uno a la derecha y otro a la izquierda */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }

  .puzzle-container1 {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 4px !important;
  }

  .puzzle-container2 {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    gap: 4px !important;
  }

  .puzzle-container3 {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(5, 90px);
    gap: 4px !important;
  }
  
  .puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 400px 400px; /* Ajustar según el tamaño de tu imagen */
    cursor: pointer;
  }
 
  
  @media (max-width: 1200px) {
    .points-exit {
      background-color: #b32b16;
      border: solid 0px #16c2d5;
      padding: 20px;
      border-radius: 20px;
      margin: 22px;
      color: #ffffff;
      font-size: 2rem;
      transform: translateX(0px);
    }
    .points-exit:hover {
      cursor: pointer;
      background-color: #a42714;
      border: solid 0px #16c2d5;
      padding: 20px;
      border-radius: 20px;
      margin: 22px;
      color: #ffffff;
      font-size: 2rem;
    }
    .games-container {
      display: flex;
      flex-direction: column; /* Coloca los contenedores uno debajo del otro */
      justify-content: center; /* Centra verticalmente el contenido */
      align-items: center; /* Centra horizontalmente el contenido */
      gap: 20px;
    }
    
    .puzzle-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta las columnas para que se adapten */
      grid-template-rows: auto;
      gap: 4px !important;
    }
    .points-container:hover {
      cursor: pointer;
      background-color: #1fb012;
      border: solid 0px #16c2d5;
      padding: 20px;
      border-radius: 20px;
      margin: 22px;
      color: #ffffff;
      font-size: 2rem;
      
    }
      .points-container{
        background-color: #22bf14;
        border: solid 0px #16c2d5;
        padding: 20px;
        border-radius: 20px;
        margin: 22px;
        color: #ffffff;
        font-size: 2rem;
    }
  }