.btn-round {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;

  color: #495057;
  border: 1px solid #ced4da;
  transition: all 0.3s;
  &:hover {
    background-color: #c47405;
    color: #495057;
    border: 1px solid #ced4da;
  }
}

.btn-container {
  border: solid 1px black;
  min-width: fit-content;
}
