.btn-round {
  width: 100px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
  margin: 16px;

  color: #ffffff;

  transition: all 0.3s;
  text-align: center;
}

.btn-container {
  border: solid 1px black;
  min-width: fit-content;
}
