.challenge-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size:1.5rem;
    color: #000000;
}
p {
    text-align: center;
    margin: 0;
    padding: 20px;.input {

        background-color: #f8f8f800;
        border: 0px;
        border-bottom: #ff9f1c solid 1px;
    }
    
    .number {
        border: 1px;
        border-style: solid;
        border-color: #ff9f1c;
    }
    
    label {
        margin: 20px;
       
    
    }
    
    textarea {
        border-color: #ff9f1c;
    }
     input, optgroup, select, textarea {
        
        width: 100%;
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    select {
        
        border-color: #ff9f1c;
    }
    
    .brain-logo {
        min-width: 100px;
        height: 100px;
        margin: 0 auto;
        display: flex;
    }
      
    font-size: 1rem;
    color: #000000;
}
  h1,h2,h3{
    font-family: Dosis, "Dosis", sans-serif;
  }
.challenge-card {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    margin: 20px;
}
  
.challenge-card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}
  
.challenge-card p {
    flex: 1;
    font-size: 1em;
    color: #777;
    margin: 10px 0;
}
  
.challenge-card .footer-card {
    height: 40px;
    background-color: #16c2d5;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    gap: 10px;
}

  
.edit-button-custom {
    background-color: #16c2d5;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}
  
.edit-button-custom:hover {
    background-color: #14b5c7;
}
  