
<h1>Desfíos Externos</h1>
<div class="d-flex justify-content-center align-items-center">
  <app-add-button [text]="'Agregar'"  (click)="showModal()"></app-add-button>
</div>
<p>Desafíos Activos</p>
<div class="challenge-list">
    <div class="challenge-card" *ngFor="let challenge of activeChallengeOutdoorList">
      <h3>{{ challenge.name }}</h3>
      <p>{{ challenge.description }}</p>
      <div class="footer-card">

        <button class="btn-primary-custom edit-button-custom" (click)="showModalUpdate(challenge)">
          <i class="fa-solid fa-pencil"></i>
        </button>
      </div>
    </div>
</div>

<p>Desafíos Inactivos</p>
<div class="challenge-list">
<div class="challenge-card" *ngFor="let challenge of inactiveChallengeOutdoorList">
    <h3>{{ challenge.name }}</h3>
    <p>{{ challenge.description }}</p>
    <div class="footer-card">

        <button class="btn-primary-custom edit-button-custom" (click)="showModalUpdate(challenge)">
          <i class="fa-solid fa-pencil"></i>
        </button>
    </div>
</div>


<app-modal #formModalUpdate>
  <app-challenges-outdoors-update-form (callParentEvent)="onFormUpdateEventCalled($event)" [toUpdateDateChallengeOutdoor]="selectedChallengeOutdoor">
  </app-challenges-outdoors-update-form>
</app-modal>
<app-modal #formModal>
<app-challenges-outdoors-form (callParentEvent)="onFormEventCalled($event)" [badgeList]="badgeService.badges$()">
</app-challenges-outdoors-form>
</app-modal>
