* {
  font-family: Dosis, "Dosis", sans-serif;
}

body {
  text-align: center;
  background-color: #b4dce6;
}
h2 {
  font-family: Dosis, "Dosis", sans-serif;
  font-size: 2rem;
}

#level-title {
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}
.points {
  padding: 10px;

  margin: 20px;
  color: #000000;
  font-size: 2rem;
}
.disabled {
  pointer-events: none;
  opacity: 0.5; /* o cualquier otro estilo que desees aplicar */
}
#points {
  padding: 15px;
  font-size: 2rem;
}

#btn-play {
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
}
.upper-cont {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: #16c2d5;
  border: solid 3px black;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
}

.points-container {
  background-color: #22bf14;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
}
.points-container:hover {
  cursor: pointer;
  background-color: #1fb012;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}
.points-exit {
  background-color: #b32b16;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}
.points-exit:hover {
  cursor: pointer;
  background-color: #a42714;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}
.color-container {
  // border: black 10px solid;
  position: relative;
  min-height: 50vh;
  width: 50vw;
  border: black 8px solid;
  border-radius: 29px;
  padding: 0px;
}

.btn {
  display: inline-block;
  height: 330px;
  width: 50%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.purple {
  background-color: purple;
  border-bottom-right-radius: 20px;
  // border-right: 5px solid black;
  // border-bottom: 5px solid black;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.green {
  background-color: green;
  border-bottom-left-radius: 20px;
  // border-left: 5px solid black;
  // border-bottom: 5px solid black;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.blue {
  background-color: blue;
  border-top-right-radius: 20px;
  // border-right: 5px solid black;
  // border-top: 5px solid black;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.orange {
  background-color: orange;
  border-top-left-radius: 20px;
  // border-top: 5px solid black;
  // border-left: 5px solid black;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.flash-facil {
  animation: flash-animation 1.5s ease-in-out;
}
.flash-medio {
  animation: flash-animation 0.5s ease-in-out;
}
.flash-dificil {
  animation: flash-animation 0.2s ease-in-out;
}

@keyframes flash-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

select {
  cursor: pointer;
  option {
    color: #ffffff;
  }
  margin-top: 35px;
  background-color: #ff9f1c;
  border: solid 0px #16c2d5;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-family: Dosis, "Dosis", sans-serif;
  color: #ffffff;
}
select:hover {
  option {
    color: #ffffff;
  }
  cursor: pointer;
  margin-top: 35px;
  background-color: #eb9318;
  border: solid 0px #16c2d5;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-family: Dosis, "Dosis", sans-serif;
  color: #ffffff;
}

.marcador {
  background-color: #eb9318;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}

.marcador:hover {
  cursor: pointer;
  background-color: #d38517;
  border: solid 0px #16c2d5;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
}
