body {
  text-align: center;
  background-color: #b4dce6;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

#points,
#time,
#btn-play {
  color: #fef2bf;
  font-size: 3rem;
}

.points-container {
  background-color: #ff9f1c;
  border: solid 3px #16c2d5;
  padding: 10px;
  border-radius: 20px;
}

.color-container {
  // border: black 10px solid;
  height: 700px;
  width: 900px;
}

.btn {
  display: inline-block;
  height: 330px;
  width: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.purple {
  background-color: purple;
  border-bottom-right-radius: 20px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.green {
  background-color: green;
  border-bottom-left-radius: 20px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

.blue {
  background-color: blue;
  border-top-right-radius: 20px;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.orange {
  background-color: orange;
  border-top-left-radius: 20px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.flash {
  animation: flash-animation 0.2s ease-in-out;
}

@keyframes flash-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
