<div class="register-container">
  <div class="register-card">
    <div class="logo-container">
      <img
        class="company-logo"
        src="../../../../assets/icons/brainfulLogoG.png"
        alt="Logo"
      />
    </div>
    <div class="login-link">
      <h4>¿Ya tienes cuenta?</h4>
      <a href="/login">Ingresa</a>
    </div>
    <div class="register-main">
      <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm">
        <div class="form-layout">
          <div class="form-fields">
            <div class="form-row">
              <div class="form-group">
                <label for="name" class="form-label"
                  >Nombre <span style="color: red">*</span>
                </label>
                <input
                  #name="ngModel"
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder=""
                  [(ngModel)]="user.name"
                  [ngClass]="{
                    'is-invalid': name.invalid && name.touched,
                    'is-valid': name.valid && name.touched
                  }"
                  required
                />
                <div *ngIf="name.invalid" class="invalid-feedback">
                  Ingresa un nombre valido
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="form-label"
                  >Apellidos <span style="color: red">*</span></label
                >
                <input
                  #lastname="ngModel"
                  type="text"
                  class="form-control"
                  id="lastname"
                  name="lastname"
                  placeholder=""
                  [(ngModel)]="user.lastname"
                  [ngClass]="{
                    'is-invalid': lastname.invalid && lastname.touched,
                    'is-valid': lastname.valid && lastname.touched
                  }"
                  required
                />
                <div *ngIf="lastname.invalid" class="invalid-feedback">
                  Ingresa un nombre invalido
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="form-label"
                >Email <span style="color: red">*</span></label
              >
              <input
                #email="ngModel"
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="ejemplo@gmail.com"
                [(ngModel)]="user.email"
                [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }"
                required
              />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Ingresa un email valido
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-label"
                >Contraseña <span style="color: red">*</span></label
              >
              <input
                #password="ngModel"
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="*****"
                [(ngModel)]="user.password"
                [ngClass]="{
                  'is-invalid': password.invalid && password.touched,
                  'is-valid': password.valid && password.touched
                }"
                required
              />
              <div *ngIf="password.invalid" class="invalid-feedback">
                Ingresa una contraseña valida
              </div>
            </div>
            <div class="form-group">
              <label for="birthDate" class="form-label"
                >Fecha de Nacimiento <span style="color: red">*</span>
              </label>
              <input
                type="date"
                #birthDate="ngModel"
                class="form-control"
                id="birthDate"
                name="birthDate"
                [(ngModel)]="user.birthDate"
                [ngClass]="{
                  'is-invalid': birthDate.invalid && birthDate.touched,
                  'is-valid': birthDate.valid && birthDate.touched
                }"
                required
              />
            </div>
            <div class="form-group">
              <label for="image">Foto</label>
              <input
                type="file"
                id="image"
                name="image"
                class=""
                #image="ngModel"
                (change)="onFileChange($event)"
                [(ngModel)]="user.image"
                [ngClass]="{
                  'is-invalid': image.invalid && image.touched,
                  'is-valid': image.valid && image.touched
                }"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block w-100" type="submit">
          Registrarse
        </button>
        <p *ngIf="signUpError" class="text-danger">{{ signUpError }}</p>
        <p *ngIf="validSignup" class="text-success">Usuario registrado!</p>
      </form>
    </div>
  </div>
</div>
