@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --light-blue: #399dff;
  --dark-blue: #064971;
  --light-gray: #ececec;
}

* {
  font-family: Dosis, "Dosis", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
h2{
  font-family: Dosis, "Dosis", sans-serif;
}

body {
  line-height: 1.6;
  color: #000000;
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  border-bottom: 1px solid #ececec;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
}

.logo img {
  height: 90px;
  margin-top: 10px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-size: 20px;
  font-weight: normal;
}

.nav-links a {
  font-size: 20px;
  color: var(--black);
  text-decoration: none;
}
.nav-links a:hover {
  cursor:pointer;
  color: var(--black);
  text-decoration: underline;
}


#description {
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;

}

.app-logo {
  width: 50%;
  font-size: 1.5rem;
  
  text-align: center;
}
.app-description  {

  width: 50%;
  font-size: 1.5rem;
 
  text-align: justify;
}
.app-description p {
letter-spacing: 2px;
  width: 90%;
  font-size: 24px;
}

#mvv {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 50px auto;
}

.mvv-card {
  background-color: #399dff;
  border-radius: 8px;
  padding: 1rem;
  width: 30%;
  color: #ffffff;
  text-align: center;
  height: 220px;
}

.tMvv {
  margin-bottom: 10px;
  font-size: 30px;
}

#team {
  background-color:#ececec;
  padding: 2rem;
  overflow-x: auto;
}

.tituloTeam {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.team-carousel {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-left: 15%;
}

.team-member {
  background-color: #064971;
  border-radius: 8px;
  padding: 1rem;
  height: 350px;
  width: 250px;
  text-align: center;
  color: var(--white);
  flex: 0 0 auto;
}

.member-photo {
  width: 100px;
  height: 100px;
  background-color:  #399dff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.member-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#products {

 background-color: #ececec;
 
}
.products {

  background-color: #ececec;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.product {
  width: 50%;
  font-size: 1.5rem;
  text-indent: 2em;
  text-align: center;
}
.product img  {
  width: 100%;
 
}
.product-desc {
  width: 50%;
  font-size: 1.5rem;
  text-indent: 2em;
  text-align: center;
}
.product-desc p {
  letter-spacing: 2px;
    width: 90%;
    font-size: 24px;
  }

.product-logo {
  max-width: 350px;
}

.tProducts {
  font-size: 25px;
  font-size: 1.5rem;
  text-indent: 2em;
}

.tituloP {
  text-align: center;
  font-size: 35px;
}
footer {
  background-color:#399dff;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  position: relative;
}
*{
  font-size: 18px;
}
#scroll-top {
  background-color: #ffffff;
  color: #064971;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  header {
    padding: 23px;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ececec;
}
  nav,
  #description,
  #mvv,
  .product {
    flex-direction: column;
  }

  .nav-links,
  .app-logo,
  .mvv-card {
    margin-bottom: 1rem;
  }
  .nav-links {
    text-align: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 18px;
    flex-direction: column;
  }
  .logo img {
    height: 127px;
    margin-top: 0px; 
    margin-left: 0px; 
}
  .mvv-card {
    width: 100%;
  }

  #description {
    padding: 21px;
    flex-direction: column;
    text-align: center;
  }

  .app-logo img {
     
          margin-top: 0px;
          margin-left: 0px;
          width: 0%;
  }

  .logo img {
    
  }

  .app-description h2 {
    width: 100%;
    max-width: none;
  }
  .app-description{
    width: 100%;
    font-size: 20px;
    
    text-align: justify;
}
.app-description p{
  padding: 35px;
        width: 100%;
        font-size: 17px;
        text-align: justify;
}
.product-desc p{
  padding: 35px;
        width: 100%;
        font-size: 17px;
        text-align: justify;
}
.products {
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: 41px;
}
  .team-carousel {
    margin-left: 700px;
    justify-content: center;
  }
  .product {
    width: 100%;

    text-align: center;
}
.product img{
  display: flex;
  justify-content: center;
  width: 100%;
}
.product-desc {
  width: 100%;
  font-size: 1.5rem;
   text-indent: 0rem; 
  text-align: center;
}
footer {
  background-color: #399dff;
  color: #ffffff;
  padding: 5rem;
  text-align: center;
  position: relative;
}
}


@media (max-width: 1024px) {
  header {
    padding: 23px;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ececec;
}
  nav,
  #description,
  #mvv,
  .product {
    flex-direction: column;
  }

  .nav-links,
  .app-logo,
  .mvv-card {
    margin-bottom: 1rem;
  }
  .nav-links {
    text-align: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 18px;
    flex-direction: column;
  }
  .logo img {
    height: 127px;
    margin-top: 0px; 
    margin-left: 0px; 
}
  .mvv-card {
    width: 100%;
  }

  #description {
    padding: 21px;
    flex-direction: column;
    text-align: center;
  }

  .app-logo img {
     
          margin-top: 0px;
          margin-left: 0px;
          width: 0%;
  }

  .logo img {
    
  }

  .app-description h2 {
    width: 100%;
    max-width: none;
  }
  .app-description{
    width: 100%;
    font-size: 20px;
    
    text-align: justify;
}
.app-description p{
  padding: 35px;
        width: 100%;
        font-size: 17px;
        text-align: justify;
}
.product-desc p{
  padding: 35px;
        width: 100%;
        font-size: 17px;
        text-align: justify;
}
.products {
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: 41px;
}
  .team-carousel {
    margin-left: 700px;
    justify-content: center;
  }
  .product {
  

    text-align: center;
}
.product img{
  display: flex;
  justify-content: center;
 
}
.product-desc {
  width: 100%;
  font-size: 1.5rem;
   text-indent: 0rem; 
  text-align: center;
}
footer {
  background-color: #399dff;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  position: relative;
}
}

