.badge-img {
    border: solid 2px #ff9f1c;
    margin-top: 40px;
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
  }
  .info {
    padding: 12px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
  
  }
  .image-validation {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
    border: solid 2px #ff9f1c;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
  }
  .image-validation.enlarged {
    transform: scale(2); /* Scale 2x both horizontally and vertically */
  z-index: 1000;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2); /* Center and scale */
  border-radius: 10px;
  width: auto;
  height: auto; 
  max-width: 47%; 
  max-height: 90%; 
  }
  .title {
    font-size: 20px;
    text-align: center;
  }
  .val-container {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .val-container-child p{
    margin:15px
  }
  .btn-container {
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .image-container {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .val-container-child {
    width: 100%;
  }
  .btn-denied {
    border-style: none;
    border-radius: 4px;
    color: #000000;
    background-color: #ff9f1c;
    margin: 15px;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .btn-denied:hover {
    transform: translateY(-2px);
    border-style: none;
    border-radius: 4px;
    color: #000000;
    background-color: #d98613;
    margin: 15px;
    width: 35%;
    
  }
  .btn-accept p {
    padding: 3px;
  }
  .btn-denied p {
    padding: 3px;
  }
  .btn-accept {
    border-style: none;
    border-radius: 4px;
    color: #000000;
    margin: 37px;
    background-color: #16c2d5;
    width: 38%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  p{
    margin: 0px;
  }
  h1{
    font-weight: 500;
    font-family: Dosis, "Dosis", sans-serif;
  }
  .btn-accept:hover {
    transform: translateY(-2px);
    border-style: none;
    border-radius: 4px;
    color: #000000;
    margin: 37px;
    background-color: #04879c;
    width: 38%;
  }
  