.text-area {
  width: 100%;
  border-color: #ff9f1c;
}

.input-title {
  background-color: #f8f8f800;
  border: 0px;
  border-bottom: #ff9f1c solid 2px;
}

.brain-logo {
  min-width: 100px;
  height: 100px;
  margin: 0 auto;
}

.modal-content {
  position: relative;
  display: flex;
  overflow: hidden;

  width: 100%;
  pointer-events: auto;
  background-color: #caf0f8;
  background-clip: padding-box;
  border: 0px solid #77290b;
  border-radius: 3px;
  outline: 0;
  color: #000000;
  align-items: center;
  justify-content: start;
}

.modal-body {
  background-color: #caf0f8;
  display: flex;
  justify-content: center;

  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 18px;
}
