<section id="team">
    <h2 class="tituloTeam">¿Quienes Somos?</h2>
    <div class="team-carousel">
        <div class="team-member">
            <div class="member-photo">
                <img src="../../assets/img/matiasC.jpeg" alt="">
            </div>
            <h3>Matias Campos Chaves</h3>
            <p>Coordinador de calidad</p>
            <p>matiascampos07&#64;gmail.com</p>
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img src="../../assets/img/danielG.jpeg" alt="">
            </div>
            <h3>Daniel Gómez Navarro</h3>
            <p>Coordinador de soporte</p>
            <p>Dgomezn&#64;ucenfotec.ac.cr</p>
            
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img src="../../assets/img/isaacF.jpeg" alt="">
            </div>
            <h3>Isaac Castro Sanabria</h3>
            <p>Coordinador de desarrollo</p>
            <p>icastros&#64;ucenfotec.ac.cr</p>
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img src="../../assets/img/alejandroP.jpeg" alt="">
            </div>
            <h3>Alejandro Peñaranda Soto</h3>
            <p>Coordinador de soporte</p>
            <p>apenarandas&#64;ucenfotec.ac.cr</p>
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img src="../../assets/img/joseI.jpeg" alt="">
            </div>
            <h3>Jose Vargas Jaramillo</h3>
            <p>Coordinador General</p>
            <p>jvargasj&#64;ucenfotec.ac.cr
            </p>
        </div>
    </div>
</section>
