.badge-img {
    border: solid 2px #ff9f1c;
    margin-top: 40px;
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
  }
  .info {
    padding: 12px;
    color: rgb(0, 0, 0);
  
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;

  }
  .val-container-child p{
    margin:15px
  }
  h1{
    font-weight: 500;
    font-family: Dosis, "Dosis", sans-serif;
  }
  .image-validation {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
    border: solid 2px #ff9f1c;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
  }
  .image-validation.enlarged {
    transform: scale(2); /* Scale 2x both horizontally and vertically */
  z-index: 1000;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2); /* Center and scale */
  border-radius: 10px;
  width: auto;
  height: auto; 
  max-width: 47%; 
  max-height: 90%; 
  }
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input label {
    display: block;
    position: relative;
    width: 72px;
    height: 75px;
    border-radius: 21px;
    background: linear-gradient(40deg, #7cecf9, #66b9c2);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
  }
  .file-input {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 10%;
  }
  .title {
    font-size: 20px;
    text-align: center;
    padding: 16px;
  }
  .val-container {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .fa-2xl {
    font-size: 36px;
    line-height: .03125em;
    vertical-align: -.1875em;
}
  .btn-container {
    width: 100%;
   margin: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .image-container {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .val-container-child {
    width: 100%;
  }
  
  .btn-accept p {
    margin: 0 0 0px;
    padding: 3px;
  }
  
  .btn-accept {
    border-style: none;
    border-radius: 4px;
    color: #ffffff;
   
    background-color: #00a4bd;
    width: 100%;
    padding: 10px;
  }
  .btn-accept:hover {
    border-style: none;
    border-radius: 4px;
    color: #ffffff;
   
    background-color: #04879c;
    width: 100%;
    padding: 10px;
  }
  