<div class="container">
    @defer {
    <!-- <app-challenges-list [badgeList]="badgeService.badges$()" /> -->
    <div class="d-flex justify-content-center align-items-center">
        <app-add-button (click)="showModal()"></app-add-button>
    </div>
    <button class="btn btn-primary">
      <i class="fa-regular fa-trash-can"></i>
    </button>
    <button class="btn btn-primary">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    }@loading ( after 100ms; minimum 1s) {
    <app-loader />
    }
</div>

<app-modal #formModal>
    <app-challenges-games-form (callParentEvent)="onFormEventCalled($event)">
    </app-challenges-games-form>
  </app-modal>
