<div class="container2">
  <input
  *ngIf="filteredDataSource.data.length > 0"
  type="text"
  (keyup)="applyFilter($event)"
  class="input-filter mb-3"
  placeholder="Buscar"
/>
  <table mat-table *ngIf="filteredDataSource.data.length > 0" [dataSource]="filteredDataSource" class="mat-elevation-z8">
    <!-- Table columns definition -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre del desafío</th>
      <td mat-cell *matCellDef="let row">{{ row.challengeOutdoor?.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción del desafío</th>
      <td mat-cell *matCellDef="let row">{{ row.challengeOutdoor?.description }}</td>
    </ng-container>
    <ng-container matColumnDef="fechaPublicacion">
      <th mat-header-cell *matHeaderCellDef>Fecha de publicación</th>
      <td mat-cell *matCellDef="let row">{{ row.fechaPublicacion }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row">{{ row.status }}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
      <td mat-cell *matCellDef="let row">{{ row.user?.name }}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row">{{ row.participationOutdoorId }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button
          type="button"
          (click)="showDetail(row, showModal)"
          class="btn btn-danger"
        >
          <i class="fa-solid fa-file-circle-check"></i>
        </button>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'id',
        'name',
        'description',
        'fechaPublicacion',
        'status',
        'user',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'id',
          'name',
          'description',
          'fechaPublicacion',
          'status',
          'user',
          'actions'
        ]
      "
    ></tr>
  </table>

  <mat-paginator
    *ngIf="filteredDataSource.data.length > 0"
    [length]="filteredDataSource.data.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 50]"
    (page)="pageEvent($event)"
  >
  </mat-paginator>

  <div *ngIf="filteredDataSource.data.length === 0" class="placeholder">
    No hay participaciones pendientes en este momento.
  </div>
</div>

<app-modal #showModal>
  <app-validation-modal
    size="lg"
    #validateModal
    [participation]="currentParticipation"
    [title]="'Update User'"
  />
</app-modal>
