table {
  margin-top: 100px;
  width: 100%;
  margin-bottom: 1rem;

  vertical-align: top;
  background-color: #a1d1ec;
}

.container2 {
  padding: 70px;
  border-radius: 10px;
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #ff9f1c;
  border-color: #ff9f1c;
}
.btn-danger:hover {
  color: #fff;
  background-color: #ee9211;
  border-color: #ee9211;
}
table {
  border-collapse: collapse;

  overflow: hidden;
}

.css-mine {
  margin-top: 2em;
  clear: both;
}

body {
  margin: 1.5em;
}
.label {
  font-weight: normal;
  text-align: center;
  font-family: Dosis, "Dosis", sans-serif;
}
mat-paginator {
  background-color: #a1d1ec;
}
