<div class="table-container">
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="label">#</th>
              <th scope="col"class="label">Nombre del desafío</th>
              <th scope="col" class="label">Descripción del desafío</th>
              <th scope="col" class="label">Fecha de publicación</th>
              <th scope="col"class="label">Estado</th>
              <th scope="col"class="label">Nombre de usuario</th>
              <th scope="col"class="label">Accciones</th>
            </tr>
          </thead>
          <tbody>
            @for (participation of participationList; track $index) {
              <tr>
                <td class="label">{{ participation.participationOutdoorId }}</td>
                <td class="label">{{ participation.challengeOutdoor?.name}}</td>
                <td class="label">{{ participation.challengeOutdoor?.description  }}</td>
                <td class="label">{{ participation.fechaPublicacion | date}}</td>
                <td class="label">{{ participation.status }}</td>
                <td class="label">{{ participation.user?.name  }}</td>
                <td class="label">
                      <button type="button"(click)="showDetail(participation, showModal)" class="btn btn-danger">
                        <i class="fa-solid fa-file-circle-check"></i>
                      </button>
                </td>
              </tr>
            }
            
          
          </tbody>
        </table>
      </div>
</div>
<app-modal #showModal>
  <app-validation-modal size="lg" #validateModal
  [participation]="currentParticipation" 
  [title]="'Update User'"
  />
</app-modal>


