<div class="container2">
  <div class="container text-center">
    <div class="row">
      <div
        class="col-md-6 col-sm-12 mb-5 badge-img mx-5"
        *ngFor="let badge of badgeList"
      >
        <img
          [src]="badge.url"
          alt="Card image cap"
          width="100px"
          height="100px"
        />
      </div>
    </div>

    <app-modal #showModal>
      <app-badge-form
        (callParentEvent)="onFormEventCalled($event)"
        [badge]="selectedBadge"
        [actualFile]="selectedFile"
        [btn]="'Actualizar'"
      />
    </app-modal>

    <!-- <button
  class="btn btn-primary"
  (click)="showDetailModal(badge, showModal)"
>
  <i class="fa-regular fa-pen-to-square"></i>
</button>
<button class="btn btn-primary" (click)="delteBadge(badge.badgeId!)">
  <i class="fa-regular fa-trash-can"></i>
</button> -->
  </div>
</div>
