h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: 20px;
  font-family: Dosis, "Dosis", sans-serif;
}
* {
  font-size: 20px;
}
.container2 {
  padding: 70px;
  border-radius: 10px;
  width: 100%;
}

.badge-img {
  border: solid 1px #000;
  width: fit-content;

  min-height: 150px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  padding: 15px;
  background: #06d001;
  background: -moz-linear-gradient(top, #06d001 0%, #46933e 57%, #1c631a 100%);
  background: -webkit-linear-gradient(
    top,
    #06d001 0%,
    #46933e 57%,
    #1c631a 100%
  );
  background: linear-gradient(to bottom, #06d001 0%, #46933e 57%, #1c631a 100%);

  -webkit-box-shadow: 4px 3px 1px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 4px 3px 1px 0px rgba(0, 0, 0, 0.13);

  transition: transform 250ms;
  cursor: pointer;
}

.badge-img:hover {
  transform: translateY(-10px);
}
