.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;

  width: 100%;
  max-width: 500px;
}
html,
body,
div,
figure,
p,
h1,
h2,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
