<div class="container2">
  <div class="container text-center">
    <app-carousel
      [list]="outdoorChallengeList"
      [colors]="colors"
      (onDetail)="showDetail($event, formModal)"
      [btn]="'Completar Desafió'"
      [title]="'Desafíos Externos'"
    ></app-carousel>
  </div>

  <div class="container text-center">
    <app-carousel
      [list]="gameChallengeList"
      [colors]="colors"
      (onDetail)="goToGames()"
      [btn]="'Intentar Desafió'"
      [title]="'Desafíos Digitales'"
    ></app-carousel>
  </div>

  <app-modal #formModal>
    <app-outdoor-form
      (callParentEvent)="onFormEventCalled($event)"
      [outDoorChallenge]="currentOutDoorChallenge"
    >
    </app-outdoor-form>
  </app-modal>
</div>
