<div class="container2">
  <div class="container test-center">
    <h1 class="center-text">Desafíos Externos</h1>
    <div class="row">
      <div
        class="col-md-12 col-sm-12 badge-container-externos mx-5 shadow p-3 mb-5 bg-body-tertiary rounded-3"
        *ngFor="let outDoorChallenge of outdoorChallengeList; let i = index"
      >
        <div
          class="badge-card"
          [ngStyle]="{
            background: getColor(i),
            'box-shadow': getBoxShadow(i)
          }"
        >
          <div class="badge-front">
            <img
              [src]="outDoorChallenge.badgeId?.url"
              alt="Badge image"
              width="85px"
              height="85px"
            />
          </div>
        </div>

        <div class="d-flex row">
          <h3>{{ outDoorChallenge.name }}</h3>
          <p>{{ outDoorChallenge.description }}</p>
        </div>
        <button
          class="btn btn-primary"
          (click)="showDetail(outDoorChallenge, formModal)"
        >
          <p>Completar Desafío</p>
        </button>
      </div>
    </div>
    <div class="container text center">
      <h1 class="center-text">Desafíos Digitales</h1>
      <div class="row">
        <div
          class="col-md-12 col-sm-12 badge-container-digitales mx-5 shadow p-3 mb-5 bg-body-tertiary rounded-3"
          *ngFor="let gameChallenge of gameChallengeList; let i = index"
        >
          <div
            class="badge-card"
            [ngStyle]="{
              background: getColor(i),
              'box-shadow': getBoxShadow(i)
            }"
          >
            <div class="badge-front">
              <img
                [src]="gameChallenge.badgeId?.url"
                alt="Badge image"
                width="85px"
                height="85px"
              />
            </div>
          </div>
          <div class="d-flex justify-content-evenly">
            <div>
              <h3>{{ gameChallenge.title }}</h3>
              <p>{{ gameChallenge.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #formModal>
  <app-outdoor-form
    (callParentEvent)="onFormEventCalled($event)"
    [outDoorChallenge]="currentOutDoorChallenge"
  >
  </app-outdoor-form>
</app-modal>
