h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Dosis, "Dosis", sans-serif;
}
.container2 {
  padding: 70px;
  border-radius: 10px;
  width: 100%;
}

.info-container {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  text-wrap: wrap;
}
.badge-container {
  background-color: #16c2d5;
  border-radius: 30px;

  padding: 50px;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 25% cover 50%;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.badge-img {
  border: solid 1px #000;
  -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
  background-color: #7cecf9;
  border-radius: 100px;
  min-width: 150px;
  min-height: 150px;
  text-align: center;
  margin-right: 30px;
}

.badge-img img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: fill;
}

.btn-container {
  min-width: 300px;
  min-height: 50px;
}

.btn-del {
  color: #fff;
  background-color: #ff9f1c;
  border-radius: 10px;
  border-color: #ff9f1c;
  font-size: 30px;
}

@media (max-width: 768px) {
  .badge-container {
    flex-direction: column;
  }
  .container2 {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
  }
  .badge-img {
    border: solid 1px #000;
    -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
    background-color: #7cecf9;
    border-radius: 50px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin-right: 30px;
  }

  .badge-img img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: fill;
  }
}

@media (max-width: 991px) {
  .badge-container {
    flex-direction: column;
  }
  .container2 {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
  }
  .badge-img {
    border: solid 1px #000;
    -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.56);
    background-color: #7cecf9;
    border-radius: 50px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin-right: 0px;
  }
  p{
    font-size: 20px;
  }
  .center-text{
    font-size: 10000;
    text-align: center;
  }
  .badge-img img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: fill;
  }
}
