
<section class="description" id="descriptionBrain">
  <img src="../../../../assets/icons/brainfulLogoG.png" alt="">
  <p class="descripBrainful">Brainful es una aplicación orientada a ayudar a personas interesadas en prevenir afecciones neurológicas como la demencia. El usuario final de la aplicación son los adultos entre los 40 y 70 años. Actualmente se dice que la demencia es la enfermedad del futuro , es por eso que el equipo planea crear una aplicación para la prevención de una enfermedad tan común pero normalmente tratada en sus últimas fases.</p>
</section>


