<div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{title}}</p>
      </div>
      <div class="col-6">
        <input #startDate="ngModel" type="date" class="form-control" id="startDate" name="startDate" 
          placeholder="Product name"
          [(ngModel)]="toUpdateDateChallengeGame.startDate" 
          [ngClass]="{ 
            'is-invalid': startDate.invalid && startDate.touched,
            'is-valid': startDate.valid && startDate.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <input #endDate="ngModel" type="text" class="form-control" id="endDate" name="endDate" 
          placeholder="Product description"
          [(ngModel)]="toUpdateDateChallengeGame.endDate" 
          [ngClass]="{ 
            'is-invalid': endDate.invalid && endDate.touched,
            'is-valid': endDate.valid && endDate.touched
          }" 
          required 
        />
      </div>
      <div class="col-6 mt-3">
        <button
          type="button"
          (click)="addEdit()"
          class="btn btn-primary d-flex align-items-center">
          <i class="fa-solid fa-pencil white me-2"></i>
          <p class="mb-0"> {{title}} </p>
        </button>
      </div>
    </div>
</div>
