.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  font-family: Dosis, 'Dosis', sans-serif;

  .nav-button {
    background-color: #ff9f1c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-button:hover {
    background-color: #ee9211;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .left {
    margin-right: 20px;
  }

  .right {
    margin-left: 20px;
  }

  .game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-card {
    background-color: #ff9f1c;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;

    &.current {
      transform: scale(1.2);
      width: 250px;
      height: 300px;
    }

    &.previous, &.next {
      transform: scale(0.8);
      height: 250px;
    }

    h3 {
      margin-top: 0;
    }

    button {
      background-color: #B5DEE7;
      color: black;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 12px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    button:hover {
      background-color: #43b4ce;
    }
  }
}

@media (max-width: 800px) {
  .carousel-container.game-card.current[_ngcontent-ng-c1279071869] {
    transform: scale(1.2);
    width: 220px;
    height: 300px;
}
    .game-card.previous,
    .game-card.next {
      display: none; /* Oculta previous y next en pantallas pequeñas */
    }
  
    .left,
    .right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .left {
      left: 10px;
    }
  
    .right {
      right: 10px;
    }
  }